/* emoji picker css */
.__EmojiPicker__.epr-emoji-img {
  width: 25px !important;
  height: 25px !important;
}

.EmojiPickerReact {
  background-color: #080420 !important;
  border: 1px solid #9a86f3 !important;
  box-shadow: 0px 2px 2px #9a86f3;
}

.EmojiPickerReact .epr-search-container input.epr-search {
  background-color: transparent !important;
  border-color: #9a86f3 !important;
}

.EmojiPickerReact li.epr-emoji-category > .epr-emoji-category-label {
  background-color: transparent !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  color: gray;
  height: 30px !important;
}

.EmojiPickerReact .epr-body::-webkit-scrollbar {
  background-color: #080420;
  width: 5px;
}

.EmojiPickerReact .epr-body::-webkit-scrollbar-thumb {
  background-color: #9a86f3;
}

.EmojiPickerReact .epr-preview {
  background-color: #080420 !important;
  height: 50px !important;
  border-top: 1px solid #9a86f3 !important;
}

.EmojiPickerReact .epr-preview .epr-preview-emoji-label {
  color: #b9b9b9 !important;
  font-weight: 500 !important;
}

/* message container css */
.chat-container-scroll::-webkit-scrollbar {
  background-color: #080420;
  width: 0px;
  border-radius: 1rem;
}

.chat-container-scroll::-webkit-scrollbar-thumb {
  background-color: #9a86f3;
}

.edit-message-button {
  display: none;
}

.content:hover.edit-message-button {
  display: block;
  color: red;
}
.dot-icon {
  opacity: 0;
  transition: 300ms ease-in-out;
}

.delete-container:hover .dot-icon {
  opacity: 1;
}

/* drawer custom for mantine */
.mantine-19pz3dh {
  background-color: #080420 !important;
}

.mantine-1k9itrp {
  color: white;
  font-size: large;
  font-weight: 600;
}

.mantine-Drawer-closeButton svg {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.mantine-Drawer-closeButton svg {
  width: 2rem !important;
  height: 2rem !important;
}

.mantine-1fholi4 {
  color: white !important;
}

.mantine-1fholi4:hover {
  background-color: transparent !important;
  color: white !important;
}

.mantine-9d0559 {
  background-color: #080420 !important;
}

.mantine-753b79 {
  width: 0.1px !important;
}

.mantine-753b79:hover {
  background-color: #9a86f300 !important;
}
